---
layout: page
title: Episodes
permalink: /episodes/
---

<div class="hero">
  <div class="container">
    <h1>All Episodes</h1>
    <p class="lead">Showing all {{ site.posts | size }} episodes!</p>
  </div>
</div>

<div class="block">
  <div class="container">
    {% for post in site.posts %}
      {% if forloop.first == true %}
        {% include post_summary.html show_latest="True" compact="True" %}
      {% else %}
        {% include post_summary.html compact="True" %}
      {% endif %}
    {% endfor %}
  </div>
</div>
