---
layout: default
---
{% assign posts_count = (paginator.posts | size) %}

<script>
// Dirty hack for client-side redirect since GitHub pages + CloudFlare does not provide this
if (window.location.hostname === 'softskills.audio' // to allow for localhost testing without https
    && window.location.protocol != 'https:') {
  window.location.protocol = 'https:';
}
</script>

<div class="home">
  <h2 class="tag-line">It takes more than great code<br />to be a great developer.</h2>
  <div class="clearfix"></div>

  <div style="text-align: center; margin-bottom: 20px">
    <a href="/subscribe/" class="button button-blue">Subscribe Now!</a>
  </div>

  <p>
  Soft Skills Engineering is a weekly advice podcast for software developers.
  </p>
  <p>
  Hosts <a href="https://twitter.com/djsmith42">Dave Smith</a> and
  <a href="https://twitter.com/jergason">Jamison Dance</a> answer software developers' most pressing
  questions about life, the universe, and everything. Join us each week to laugh at our <del>terrible</del>
  amazing jokes and gasp at our <del>pretty good ideas</del> pure wisdom.
  </p>

  <h2>Recent Episodes:</h2>
  <div class="posts">
    {% for post in paginator.posts %}
      {% include post_summary.html %}
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
