---
layout: default
---

<div class="hero icon-pattern">
  <div class="container">
    <h1>It takes more than great code<br/>to be a great engineer.</h1>

    <p class="lead">Soft Skills Engineering is a weekly advice podcast for software developers.</p>

    <p class="lead">The show's <a href="/meet-the-hosts/">hosts</a> are experienced developers who answer your questions about topics like:</p>

    <ul class="discussion-list split-list">
      <li>pay raises</li>
      <li>hiring and firing developers</li>
      <li>technical leadership</li>
      <li>learning new technologies</li>
      <li>quitting your job</li>
      <li>getting promoted</li>
      <li>code review etiquette</li>
      <li>and much more...</li>
    </ul>

    <section class="subscribe-box">
      <p class="button-group">
        <a
          href="{{ site.podcast_itunes_url }}"
          aria-label="Listen on Apple Podcasts"
          class="button subscribe-badge">
          <span>
            <img
              src="/img/apple-podcasts-badge.svg"
              alt=""
              aria-hidden="true" />
          </span>
        </a>

        <a
          href="{{ site.podcast_spotify_url  }}"
          aria-label="Listen on Spotify"
          class="button subscribe-badge spotify">
          <span>
            <img
              src="/img/listen-on-spotify-badge.png"
              alt=""
              aria-hidden="true"
              width="223"
              height="60" />
          </span>
        </a>
      </p>
    </section>

    <section class="support-box">
      <p class="lead">Soft Skills Engineering is made possible through generous donations from listeners.
      <a href="{{ site.patreon_url }}" class="support-link">
        <img src="/img/heart.svg" alt="" aria-hidden="true" width="20" height="19" />Support us on Patreon</a>
    </p>
    </section>
  </div>
  <header class="block-header text-center">
    <div class="container">
      <img
        src="/img/talk.svg"
        alt="A speech bubble"
        width="140"
        height="140"
        loading="lazy" />
      <h2 class="block-heading type-h1">Why should you listen?</h2>
      <p class="lead">Here's what listeners say:</p>
    </div>
  </header>

  <div class="quotes-grid">
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Shoutout to <a href="https://x.com/djsmith42?ref_src=twsrc%5Etfw">@djsmith42</a> and <a href="https://x.com/jamison_dance?ref_src=twsrc%5Etfw">@jamison_dance</a> for approaching 500 episodes and 10 years of <a href="https://x.com/SoftSkillsEng?ref_src=twsrc%5Etfw">@SoftSkillsEng</a>! Incredible work! I&#39;ve listened to every episode since the beginning and it&#39;s a delight of great advice. Next episode is 500 and (no pressure guys) but I expect a celebration!</p>&mdash; Kent C. Dodds 🐨 (@kentcdodds) <a href="https://x.com/kentcdodds/status/2021233738718253107?ref_src=twsrc%5Etfw">February 10, 2026</a></blockquote>
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr"><a href="https://x.com/SoftSkillsEng?ref_src=twsrc%5Etfw">@SoftSkillsEng</a> is one of my favorite podcasts. It&#39;s funny, educational, and occasionally has actually valuable career advice. Not to mention the <a href="https://x.com/djsmith42?ref_src=twsrc%5Etfw">@djsmith42</a> and <a href="https://x.com/jamison_dance?ref_src=twsrc%5Etfw">@jamison_dance</a> have fantastic laughs that bring a little bit of joy to modern corporate life.</p>&mdash; William angel (@DataDrivenAngel) <a href="https://x.com/DataDrivenAngel/status/2089725848702074899?ref_src=twsrc%5Etfw">August 18, 2026</a></blockquote>
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">I just started listening to <a href="https://twitter.com/SoftSkillsEng?ref_src=twsrc%5Etfw">@SoftSkillsEng</a> and it is just great! <br>This podcast is funny and entertaining and a great source for learning about the non-technical things of being a Software Developer. <br>I really recommend it to all fellow engineers!</p>&mdash; Patrick Scheibert 🇺🇦 (@CareForCode) <a href="https://twitter.com/CareForCode/status/1512387815358795782?ref_src=twsrc%5Etfw">April 8, 2022</a></blockquote>
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">The (aptly titled) <a href="https://twitter.com/SoftSkillsEng?ref_src=twsrc%5Etfw">@SoftSkillsEng</a> is great. <a href="https://twitter.com/djsmith42?ref_src=twsrc%5Etfw">@djsmith42</a> and <a href="https://twitter.com/jamison_dance?ref_src=twsrc%5Etfw">@jamison_dance</a> are hilarious. I often go back and visit the back catalog for inspiration.</p>&mdash; Dhruv Vemula (@dhruvtv) <a href="https://twitter.com/dhruvtv/status/1631489343687913472?ref_src=twsrc%5Etfw">March 3, 2023</a></blockquote>
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr"><a href="https://twitter.com/SoftSkillsEng?ref_src=twsrc%5Etfw">@SoftSkillsEng</a> Thanks guys for all the podcasts I have learned so much! I used many of the things you talk about on your podcasts to finally getting a role as senior software eng at an great company surrounded super smart amazing people, couldn&#39;t be happier!</p>&mdash; Mattchupichu Watson (@MattchupichuW) <a href="https://twitter.com/MattchupichuW/status/1512529503289065479?ref_src=twsrc%5Etfw">April 8, 2022</a></blockquote>
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr"><a href="https://twitter.com/SoftSkillsEng?ref_src=twsrc%5Etfw">@SoftSkillsEng</a> podcast is a must-listen! It&#39;s certainly targeted towards software engineering, but the advice is pretty widely applicable, especially new/aspiring managers. All those <a href="https://twitter.com/hashtag/100devs?src=hash&amp;ref_src=twsrc%5Etfw">#100devs</a> folks ought to check it out!</p>&mdash; Noah Wright (@NoahWrightDev) <a href="https://twitter.com/NoahWrightDev/status/1514015631913504776?ref_src=twsrc%5Etfw">April 12, 2022</a></blockquote>
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">One of the best podcast about software engineering that I came across is <a href="https://t.co/emp61mAK8c">https://t.co/emp61mAK8c</a> <a href="https://twitter.com/SoftSkillsEng?ref_src=twsrc%5Etfw">@SoftSkillsEng</a> must listen for all Software engineering.</p>&mdash; Siddharth Singh (@Siddharth181197) <a href="https://twitter.com/Siddharth181197/status/1405225635644010497?ref_src=twsrc%5Etfw">June 16, 2021</a></blockquote>
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">I’ve discovered <a href="https://twitter.com/SoftSkillsEng?ref_src=twsrc%5Etfw">@SoftSkillsEng</a> a couple of days ago and have been addicted to listening to it ever since. What a great laugh and a nice podcast. Check it out!</p>&mdash; Ahmed Aziz (@AA_ziz) <a href="https://twitter.com/AA_ziz/status/1388521451687272448?ref_src=twsrc%5Etfw">May 1, 2021</a></blockquote>
  </div>

</div>

<h2 class="sr-only">Recent Episodes</h2>
<div class="posts">
  <div class="container">
    {% for post in site.posts limit:3 %}
      {% if forloop.first == true %}
        {% include post_summary.html show_details="True" show_latest="True" %}
      {% else %}
        {% include post_summary.html show_details="True" %}
      {% endif %}

      {% if forloop.last == false %}
        <div class="icon-sep small">
          <img
            src="/img/mark.svg"
            alt="A smiling speech bubble"
            width="120"
            height="112"
            loading="lazy" />
        </div>
      {% endif %}

    {% endfor %}

    <footer class="posts-footer">
      <div class="button-group">
        <a href="/episodes" class="button"><span>View all episodes</span></a>
        <a href="/favorites" class="button"><span>See community favorites</span></a>
      </div>
    </footer>
  </div>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

