{
  "consumer_key": "Your Twitter Consumer Key Here",
  "consumer_secret": "Your Twitter Consumer Secret Here",
  "access_token": "Your Twitter Access Token Here",
  "access_token_secret": "Your Twitter Access Token Secret Here"
}
