<footer class="site-footer">
  <div class="container">
    <nav class="subscribe-nav-flat">
      <span>Subscribe</span>
      {% include subscribe_nav.html %}
    </nav>
  </div>

  <div class="attribution">
    <div class="container">
      <small>
        Soft Skills Engineering is by
        <span class="attribution-hosts">
        <a href="https://twitter.com/djsmith42" class="avatar-link"><img
          src="/img/dave.jpg"
          alt="Dave Smith"
          width="42" /> <span>Dave Smith</span></a> &amp;
        <a href="https://twitter.com/jergason" class="avatar-link"><img
          src="/img/jamison.jpg"
          alt="Jamison Dance"
          width="42" /> <span>Jamison Dance</span></a>,</span> who think you are neat.
      </small>
    </div>
  </div>
</footer>

{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
