<footer class="site-footer">
  <div class="container">
    <nav class="subscribe-nav-flat">
      <span class="subscribe-nav-label">Where to listen</span>
      {% include subscribe_nav.html %}

      <p class="subscribe-text"><small>Search for <strong>"Soft Skills Engineering"</strong> in your favorite podcast app.</small></p>
    </nav>

    {% include social_links.html %}
  </div>

  <div class="attribution">
    <div class="container">
      <small>
        Soft Skills Engineering is by
        <span class="attribution-hosts">
          <a href="https://twitter.com/djsmith42" class="avatar-link"><img
            src="/img/dave.jpg"
            alt="Dave Smith"
            width="42" /> <span>Dave Smith</span></a> &amp;
          <a href="https://twitter.com/jamison_dance" class="avatar-link"><img
            src="/img/jamison.jpg"
            alt="Jamison Dance"
            width="42" /> <span>Jamison Dance</span></a></span> who think you are neat.
        </span>
      </small>
    </div>
  </div>
</footer>
