<header class="site-header">
  <div class="container">
    <div class="site-header-primary">
      <button class="nav-toggler">Toggle</button>
      <a class="site-title-link" href="{{ site.url }}">
        <img
          class="header-logo"
          src="/img/logo.svg"
          width="120"
          alt="Soft Skills Engineering Podcast" />

        {% comment %}
        <img
          class="header-logo"
          src="/img/logo.svg"
          width="80"
          alt="Soft Skills Engineering Podcast"
          aria-hidden="true" />
        {% endcomment %}
      </a>
    </div>

    <div class="site-header-navs">
      <nav class="site-nav">
        <ul>
          <li>
            <a href="/episodes/">Episodes</a>
          </li>
          <li>
            <a href="/meet-the-hosts/">Meet the Hosts</a>
          </li>
          <li>
            <a href="/ask/">Ask a Question</a>
          </li>
          <li>
            <a href="/sponsors/">Sponsors</a>
          </li>
          <li>
            <a href="/slack/">Slack</a>
          </li>
          <li class="patreon-cta">
            <a href="{{ site.patreon_url }}" class="patreon-link">
              <small>Support us on</small>
              <span class="patreon-link-label">
                <img src="/img/heart.svg" alt="Heart" aria-hidden="true" width="20" />
                <strong>Patreon</strong>
              </span>
            </a>
          </li>
        </ul>
      </nav>

      <nav class="subscribe-nav">
        <span class="subscribe-nav-label">Subscribe</span>
        {% include subscribe_nav.html %}
      </nav>
    </div>
  </div>
</header>


