<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <h1 class="h3 site-title">
        <a class="site-title-link" href="{{ site.url }}">
          <img class="header-logo" src="/img/logo-transparent-bg.png" alt="Soft Skills Engineering Podcast" />
        </a>
      </h1>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
