<header class="site-header">
  <div class="container">
    <div class="site-header-primary">
      <button class="nav-toggler">Toggle</button>
      <a class="site-title-link" href="{{ site.url }}">
        <img
          class="header-logo"
          src="/img/logo.svg"
          width="120"
          alt="Soft Skills Engineering Podcast" />

        {% comment %}
        <img
          class="header-logo"
          src="/img/logo.svg"
          width="80"
          alt="Soft Skills Engineering Podcast"
          aria-hidden="true" />
        {% endcomment %}
      </a>
    </div>

    <div class="site-header-navs">
      <nav class="site-nav">
        <ul>
          <li>
            <a href="/episodes/">Episodes</a>
          </li>
          <li>
            <a href="/meet-the-hosts/">Meet the Hosts</a>
          </li>
          <li>
            <a href="/ask/">Ask a Question</a>
          </li>
          <li>
            <a href="/sponsors/">Sponsors</a>
          </li>
          <li>
            <a href="/slack/">Slack</a>
          </li>
          <li class="patreon-cta">
            <a href="#" class="patreon-link">
              <small>Support us on</small>
              <span class="patreon-link-label">
                <img src="/img/heart.svg" alt="Heart" aria-hidden="true" width="20" />
                <strong>Patreon</strong>
              </span>
            </a>
          </li>
        </ul>
      </nav>

      <nav class="subscribe-nav">
        <span class="subscribe-nav-label">Subscribe</span>
        <ul>
          <li>
            <a href="#" class="subscribe-link">
              <img
                src="/img/itunes.svg"
                class="icon"
                alt="iTunes logo"
                aria-hidden="true" /> iTunes</a>
          </li>
          <li>
            <a href="#" class="subscribe-link">
              <img
                src="/img/android.svg"
                class="icon"
                alt="Android logo"
                aria-hidden="true" /> Android</a>
          </li>
          <li>
            <a href="#" class="subscribe-link">
                <img
                src="/img/spotify.svg"
                class="icon"
                alt="Spotify logo"
                aria-hidden="true" /> Spotify</a>
          </li>
          <li>
            <a href="#" class="subscribe-link">
                <img
                src="/img/rss.svg"
                class="icon"
                alt="RSS logo"
                aria-hidden="true" /> RSS</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>


