<article class="post{% if include.compact %} compact{% endif %}">
  {% if include.show_latest %}
    <span class="post-latest-badge">Latest Episode</span>
  {% endif %}

  <h1 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}" class="post-link" data-post-title>{{ post.title }}</a></h1>

  <p class="post-meta"><time class="post-timestamp">{{ post.date | date: site.date_format }}</time></p>

  {% if include.show_details %}
    {% if post.file %}
      {% include audio_player.html %}
    {% endif %}

    <div class="post-summary">
      {{ post.content }}
    </div>
  {% endif %}
</article>
