<ul>
  <li>
    <a href="{{ site.podcast_itunes_url }}" class="subscribe-link">
      <img
        src="/img/itunes.svg"
        class="icon"
        alt="iTunes logo"
        aria-hidden="true" /> Apple</a>
  </li>
  <li>
    <a href="{{ site.podcast_android_url }}" class="subscribe-link">
      <img
        src="/img/android.svg"
        class="icon"
        alt="Android logo"
        aria-hidden="true" /> Android</a>
  </li>
  <li>
    <a href="{{ site.podcast_spotify_url }}" class="subscribe-link">
      <img
        src="/img/spotify.svg"
        class="icon"
        alt="Spotify logo"
        aria-hidden="true" /> Spotify</a>
  </li>
  <li>
    <a href="{{ site.podcast_feed_url }}" class="subscribe-link">
      <img
        src="/img/rss.svg"
        class="icon"
        alt="RSS logo"
        aria-hidden="true" /> RSS</a>
  </li>
</ul>
