<ul>
  <li>
    <a href="{{ site.podcast_itunes_url }}" class="subscribe-link">
      <img
        src="/img/apple-podcasts.svg"
        class="icon"
        alt="Apple podcasts logo"
        aria-hidden="true" /> Apple <span class="subscribe-link-sublabel">Podcasts</span>
      </a>
  </li>
  <li>
    <a href="{{ site.podcast_google_url }}" class="subscribe-link">
      <img
        src="/img/google-podcasts.svg"
        class="icon"
        alt="Google Postcasts logo"
        aria-hidden="true" /> Google <span class="subscribe-link-sublabel">Podcasts</span>
      </a>
  </li>
  <li>
    <a href="/subscribe/" class="subscribe-link">
      <img
        src="/img/podcast.svg"
        class="icon"
        alt="Sound waves encircling an individual"
        aria-hidden="true" /> Other</a>
  </li>
</ul>
