<ul>
  <li>
    <a href="{{ site.podcast_itunes_url }}" class="subscribe-link">
      <img
        src="/img/apple-podcasts.svg"
        class="icon"
        alt="Apple podcasts logo"
        aria-hidden="true" /> Apple <span class="subscribe-link-sublabel">Podcasts</span>
      </a>
  </li>
  <li>
    <a href="{{ site.podcast_spotify_url }}" class="subscribe-link">
      <img
        src="/img/spotify.svg"
        class="icon"
        alt="Spotify logo"
        aria-hidden="true" /> Spotify <span class="subscribe-link-sublabel">Podcasts</span>
      </a>
  </li>
  <li>
    <a href="/subscribe/" class="subscribe-link">
      <img
        src="/img/podcast.svg"
        class="icon"
        alt="Microphone"
        aria-hidden="true" /> Other</a>
  </li>
</ul>
