<meta name="twitter:card" content="player" />
<!-- todo: add the player url, generate player pages for each post -->
<meta name="twitter:site" content="@{{ site.twitter_username }}" />
<meta name="twitter:title" content="{{ post.title }}" />
<meta name="twitter:image" content="{{ site.logo_url }}" />
<meta name="twitter:image:alt" content="{{ site.title }} Logo" />
<meta name="twitter:description" content="{{ page.excerpt | escape }}" />
<meta name="twitter:url" content="{{ site.url }}{{ post.url }}" />
