/* WRAPPERS */
.container {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 var(--gutters);
}

.container.wide {
  max-width: calc(var(--container-width) + (var(--container-width) * 1/3));
}

@media (min-width: 920px) {
  .container.split-cols {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;

    > * {
      width: 45%;
    }
  }
}

/* BLOCKS */

.block {
  position: relative;
  margin-bottom: var(--gutter-gaps);
  padding: var(--block-space) 0;
}

.block-header {
  margin-bottom: 4rem;
}

img + .block-heading {
  margin-top: var(--double-space);
}

/* SPACING */
.mt-1 { margin-top: var(--space); }
.mt-2 { margin-top: var(--double-space); }
.mt-3 { margin-top: calc(var(--space) * 3); }
.mt-4 { margin-top: calc(var(--double-space) * 2); }

.mb-1 { margin-bottom: var(--space); }
.mb-2 { margin-bottom: var(--double-space); }
.mb-3 { margin-bottom: calc(var(--space) * 3); }
.mb-4 { margin-bottom: calc(var(--double-space) * 2); }
