/* WRAPPERS */
.container {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 var(--gutters);
}

.container.wide {
  max-width: calc(var(--container-width) + (var(--container-width) * 1/3));
}

body.focused main .container,
.focused > .container {
  max-width: calc(var(--site-width) * 4/5);
}

@media (min-width: 920px) {
  .container.split-cols {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;

    > * {
      width: 45%;
    }
  }
}

/* BLOCKS */

.block {
  position: relative;
  padding: var(--block-space) 0;
}

.block-header {
  margin-bottom: 4rem;
}

.block-heading {
  margin-top: 0;
}

img + .block-heading {
  margin-top: var(--double-space);
}

/* SPACING */
.mt-2 { margin-top: var(--double-space); }
