.site-header .container {
  height: 100%;
}

.site-header-primary {
  display: flex;
  align-items: center;
  height: 80px;
  background: #FFF;
}

.site-title-link {
  order: 0;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 140px;
}

.header-logo.logo-stacked {
  display: none;
}

.nav-toggler {
  order: 1;
  margin: 0 -1rem 0 1rem;
  padding: 1rem 2rem;
  width: 60px;
  height: 100%;
  border: none;
  background-color: transparent;
  background-image: url(/img/three-lines.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  font-size: 1.3rem;
  font-weight: var(--font-medium);
  text-indent: -999rem;
  -webkit-appearance: none;
  appearance: none;
}

.nav-toggler.burger {
  background-image: url(/img/burger.svg);
}

.site-header ul {
  display: flex;
  flex-flow: row wrap;
  margin-left: 0;
  padding-left: 0;
}

.site-header li {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 100%;
  list-style: none;
}

.site-header a {
  font-weight: var(--font-medium);
  text-decoration: none;
  transition: all var(--anim-speed);
}

.site-nav a {
  display: inline-block;
  font-size: 1.3rem;
}

/* Site nav */

.site-nav {
  display: none;
}

.site-nav a:hover {
  opacity: .7;
}

.site-nav .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.patreon-link {
  margin-left: auto;
}

.patreon-link small {
  display: block;
  font-size: .65rem;
}

.patreon-link strong {
  font-weight: var(--font-bold);
}

.patreon-link img {
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px; /* Specific to image */
}

/* Specific Navs */

.site-header .social-nav,
.site-header .subscribe-text {
  display: none;
}

/* Mobile navigation is open */

@media (max-width: 768px) {
  body.nav-open {
    .site-header {
      width: 100%;
      height: 100%;
      background: #FFF;
    }

    .site-nav {
      display: block;
    }

    .site-nav,
    .site-header .social-nav,
    .site-header .subscribe-nav {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }

    .site-header-navs {
      position: relative;
      margin: 6vw var(--neg-gutters) 0;
      padding: 3rem var(--gutters);
      background-color: var(--color6);
    }

    .site-header-navs:before {
      position: absolute;
      top: -5.5vw;
      left: 0;
      z-index: 0;
      display: block;
      width: 100%;
      height: 11vw;
      background-image: url(/img/oblong.svg);
      background-repeat: no-repeat;
      background-size: 100% auto;
      content: "";
      pointer-events: none;
    }

    .site-nav .patreon-link {
      margin-left: 0;
    }

    /* Modifications to the subscription nav */
    .subscribe-nav {
      display: block;
      height: auto;
      background: none;
    }

    .subscribe-nav ul {
      display: block;
      background: none;
    }

    .subscribe-nav li {
      margin-bottom: 1.5rem;
      justify-content: flex-start;
    }

    .subscribe-link {
      padding: 0;
      font-size: 1.3rem;
      transition: none;
    }

    .subscribe-link .icon {
      width: 22px;
    }

    .subscribe-nav-label {
      display: block;
      margin: 0 0 var(--space);
      padding: 0;
      background: none;
      font-size: 1.2rem;
      font-weight: var(--font-bold);
      color: var(--font-color);
    }

    .subscribe-nav-label:after {
      display: none;
    }

    .subscribe-nav li:last-child {
      margin-bottom: 0;
    }

    .site-header .social-nav {
      display: flex;
      margin-top: var(--double-space);
    }

    #SiteMain,
    .site-footer {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .site-header .social-nav,
  .nav-toggler {
    display: none;
  }

  .site-header {
    position: static;
  }

  .site-header-primary {
    padding-top: 2rem;
    height: auto;
  }

  .site-header .container {
    display: flex;
  }

  .header-logo {
    width: 140px;
    height: 140px;
  }

  .header-logo.logo-stacked {
    display: block;
  }

  .header-logo.logo-landscape {
    display: none;
  }

  .site-header-navs {
    flex: 1;
    display: block;
    margin: 40px 0 0 40px;
    padding: 0;
    height: auto;
    background: transparent;
  }

  .site-header-navs:before {
    display: none;
  }

  .site-header ul {
    display: flex;
    justify-content: space-between;
  }

  .site-nav {
    display: block;
    margin-bottom: 16px;
  }

  .site-nav ul {
    flex-flow: row wrap;
  }

  .site-nav li {
    align-items: flex-end;
    margin-bottom: 0;
    width: calc(100% * 1/3);
  }

  .site-nav a {
    display: block;
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: 1.1rem;
  }

  .site-header .subscribe-link {
    font-size: .9rem;
  }

  .site-header-primary > .patreon-link {
    display: none;
  }
}

@media (min-width: 940px) {
  .header-logo {
    width: 160px;
    height: 160px;
  }

  .site-nav li {
    width: auto;
  }

  .site-nav a {
    font-size: 1.3rem;
  }

  .site-header .subscribe-link {
    font-size: 1.1rem;
  }
}
