.site-header {
  padding-top: $space-1;
  padding-bottom: $space-2;
}

.site-header a {
  color: #333;
  font-size: $h3;
  font-weight: 300;
  background-image: none;
}

.site-header .site-title {
  font-size: $h2;
  font-family: $font-family;
  margin: 0;
}

.site-title .site-title-link {
  font-size: inherit;
}

h2.tag-line {
  font-style: italic;
  font-weight: normal;
  text-align: center;
  color: #7a7a7a;
  margin: -20px 0 20px 0;
}

img.header-logo {
  height: 75px;
  vertical-align: middle;
  margin-bottom: 5px; // to make the image center a hair better
}

.site-nav {
  margin-top: $space-2;
}

.site-header nav a {
  color: #666;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: #444;
  opacity: 1;
  border-bottom: 2px solid #444;
}

.site-nav a + a {
  margin-left: 1em;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}
