.host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 3rem;
}

.host-name {
  text-align: center;
}

.host-avatar {
  display: inline-block;
  width: 300px;
  height: 300px;
  max-width: 100%;
  border: 12px solid currentColor;
  border-radius: 50%;
}

.host-avatar.color2 { border-color: var(--color2); }
.host-avatar.color3 { border-color: var(--color3); }

@media (min-width: 920px) {
  .host {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
