
.posts {
  position: relative;
  background-color: var(--color6);
}

.posts:before,
.posts:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 10vw;
  background-image: url(/img/oblong.svg);
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}

.posts:before {
  top: -5vw;
}

.posts:after {
  bottom: -5vw;
}


.posts .container {
  max-width: 760px;
}
