/* Post List */

.posts {
  position: relative;
  margin-bottom: 8rem;
  padding-bottom: calc(2vw + var(--space));
  background-color: var(--color6);
}

.posts .container {
  position: relative;
  z-index: 1;
}

.posts:before,
.posts:after {
  position: absolute;
  z-index: 0;
  display: block;
  width: 100%;
  height: 11vw;
  background-image: url(/img/oblong.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: "";
  pointer-events: none;
}

.posts:before {
  top: -4vw;
}

.posts:after {
  bottom: -4vw;
}

.posts .container {
  top: -12vw;
  margin-bottom: -12vw;
}

.posts-footer {
  text-align: center;
}

.posts-footer-heading {
  margin-top: 4rem;
  margin-bottom: var(--double-space);
}

/* Individual Posts */

.post {
  margin-bottom: var(--double-space);
  padding: 3rem 2.5rem;
  border: 4px solid var(--post-border-color);
  border-radius: 8px;
  background-color: var(--post-bg-color);
}

.post.compact {
  padding-top: 1rem;
  padding-bottom: 1rem;

  .post-timestamp {
    margin-top: .5rem;
    margin-bottom: 0;
  }

  .audio-player,
  .post-summary {
    display: none;
  }
}

.post:first-child {
  border-color: #8882BF;
  background-color: var(--color5);
}

.post-timestamp {
  display: block;
  margin: var(--double-space) 0 var(--space);
}

.post-link {
  text-decoration: none;
  color: var(--font-color);
}

.hero .post-title,
.post-title {
  font-weight: var(--font-regular);

  strong {
    font-weight: var(--font-medium);
  }
}

.post-title {
  font-size: 1.8rem;
}

.post-summary {
  display: none;
}

.audio-player {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin: var(--double-space) 0 0;
}

.audio-player audio {
  max-width: 300px;
}

.audio-player a {
  display: inline-block;
  margin-left: .85rem;
  font-size: 1.2rem;
  font-weight: var(--font-medium);
}

/* Posts Page */

.post-hero {

}

.post-hero .post-title {
  text-align: left;
}


@media (min-width: 768px) {
  .post-title {
    font-size: 2.4rem;
  }

  .post-summary {
    display: block;
  }

  .audio-player {
    margin-bottom: var(--double-space);
  }
}
