#search-results {
  margin: 0;
  padding: 0;
}

#search-results li {
  list-style: none;
}

#search-results-summary {
  font-size: 1.35em;
}

#search-form {
  text-align: center;
  margin-top: 1.35em;
  margin-bottom: 1.35em;
}

#search-form input {
  font-size: 1.2em;
}

#search-box {
  width: 400px;
}
