.subscribe-nav {
  display: flex;
  height: 40px;
}

.subscribe-link {
  font-size: .95rem;
}

.subscribe-nav-label {
  position: relative;
  display: none;
  align-items: center;
  margin: 0 1rem 0 0;
  padding: 0 1rem;
  border-radius: 4px 0 0 4px;
  background-color: var(--color3);
  font-size: 1rem;
  font-weight: var(--font-bold);
  color: #FFF;
}

.subscribe-nav-label:after {
  position: absolute;
  top: 0;
  right: -22px;
  display: inline-block;
  width: 30px;
  height: 100%;
  background-image: url(/img/rounded-end.svg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  content: "";
}

.subscribe-nav {
  border-radius: 4px;
  background-color: #FED1C6;
}

.subscribe-nav ul,
.subscribe-nav li {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-bottom: 0;
}

.subscribe-nav ul {
  flex-flow: row wrap;
}

.subscribe-link {
  display: flex;
  align-items: center;
}

.subscribe-link {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  transition: all var(--anim-speed);
}


.subscribe-link:hover {
  opacity: .7;
}

.subscribe-link .icon {
  margin-right: .3rem;
}

.subscribe-text {
  max-width: 30ch;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .subscribe-nav-label {
    display: flex;
  }

  .subscribe-text {
    display: none;
  }
}
