:root {
  /* GRID */
  --site-width     : 980px;
  --container-width: var(--site-width);
  --gutters        : 24px; /* Hard-coded so size changes don't wreck havoc */
  --space          : 1rem;
  --double-space   : calc(var(--space) * 2);
  --block-space    : var(--double-space);
  --offset         : var(--gutters);

  /* TYPOGRAPHY */
  --font: 'Roboto', sans-serif;
  --font-size: 16px;

  --font-regular: 400;
  --font-medium: 600;
  --font-bold: 700;
  --line-height: 1.5;

  /* COLORS */
  --color1: #031268;
  --color2: #FBA28C;
  --color3: #DE8570;


  /* COMPONENTS */
}
