:root {
  /* GRID */
  --site-width     : 1020px;
  --container-width: var(--site-width);
  --gutters        : 16px; /* Hard-coded so size changes don't wreck havoc */
  --neg-gutters: calc(-1 * var(--gutters));
  --space          : 1rem;
  --double-space   : calc(var(--space) * 2);
  --block-space    : 4rem;

  /* TYPOGRAPHY */
  --font: 'Roboto', sans-serif;
  --font-color: #191919;
  --font-size: 16px;

  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --line-height: 1.5;

  /* COLORS */
  --color1: #031268;
  --color2: #FBA28C;
  --color3: #DE8570;
  --color4: #FDEACF;
  --color5: #A29CD8;
  --color6: #68CCEB;

  /* GENERAL */
  --anim-speed: .25s;

  /* COMPONENTS */
  --post-bg-color: #FEF7EC;
  --post-border-color: #FFE0B0;

  --lead-font-size: 1.35rem;
}
