<!DOCTYPE html>
<html lang="en" dir="ltr">

{% include head.html %}

<body class="{{ layout.body_class }}">
  {% if site.google_tag_manager %}
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ site.google_tag_manager }}');</script>
  {% endif %}
	{% if site.facebook_comments %}
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId={{ site.facebook_appid }}";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	{% endif %}

  {% include header.html %}

  <main id="SiteMain">
    {{ content }}
  </main>

  {% include footer.html %}


  <script>
    // Moble menu toggler
    const toggler = document.querySelector('#NavToggler')
    const body = document.querySelector('body')
    toggler.addEventListener('click', (evt) => {
      evt.preventDefault()
      body.classList.toggle('nav-open')
    })

    // Format/Style episode titles
    const postTitles = document.querySelectorAll('[data-post-title]')
    postTitles.forEach(element => {
      let titleText = element.textContent.split(':')
      let episode = titleText[0]

      titleText.shift()
      titleText = titleText.join()
      element.innerHTML = `<strong>${episode}</strong>: ${titleText}`
    })

    {% comment %}
    // Setup audio elements
    const audios = document.querySelectorAll('audio')
    audios.forEach(audio => {
      const audioId = audio.getAttribute('data-id')
      const player = document.getElementById('player-' + audioId)
      const play = document.getElementById('player-play-' + audioId)
      const pause = document.getElementById('player-pause-' + audioId)
      const progress = document.getElementById('player-progress-' + audioId)
      const nub = document.getElementById('player-nub-' + audioId)

      play.addEventListener('click', evt => {
        audio.play()
        player.classList.toggle('playing')
      })

      pause.addEventListener('click', evt => {
        audio.pause()
        player.classList.toggle('playing')
      })

      // Update in realtime
      audio.addEventListener('timeupdate', () => {
        const move = parseInt(((audio.currentTime / audio.duration) * 100), 10) + "%";

        console.log(move);
        nub.style.left = move;
      })

      progress.addEventListener('click', function(e) {
        // calculate the normalized position clicked
        const clickPosition = (e.pageX  - this.offsetLeft) / this.offsetWidth
        const clickTime = clickPosition * audio.duration

        //nub.setAttribute('style', "left: calc(" + parseInt(clickPosition * 100) + '%' + " - 42px)");

        // move the playhead to the correct position
        audio.currentTime = clickTime
     })
    })
    {% endcomment %}
  </script>
</body>
</html>
