---
layout: default
body_class: focused
---

{% capture playback_url %}{{ page.file }}{% endcapture %}
{% capture playback_guid %}{{ page.guid }}{% endcapture %}

<article>
  <div class="hero post-hero">
    <div class="container">
      <h1 class="post-title" data-post-title>{{ page.title }}</h1>
      <p class="post-meta">
        <time class="post-timestamp">
          {{ page.date | date: site.date_format }}</time>
          <br>
          {% if page.update_date %}
            <span class="post-updated">{{ site.text.post.updated }}: {{ page.update_date | date: site.date_format }}</span>
          {% endif %}
      </p>
    </div>
  </div>

  <div class="container audio-block">
    {% if page.file %}
      {% include audio_player.html playback_url=playback_url playback_guid=playback_guid %}
    {% endif %}
  </div>

  <div class="container">
    {{ content }}
  </div>
</article>

<div class="container">

<div class="icon-sep">
  <img
    src="/img/talk.svg"
    alt="A speech bubble" />
</div>

</div>
