---
layout: default
---

{% assign minutes = content | strip_html | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header mb2">
  <h1>{{ page.title }}</h1>
  <span class="post-meta">{{ page.date | date: site.date_format }}</span><br>
  {% if page.update_date %}
    <span class="post-meta">{{ site.text.post.updated }}: {{ page.update_date | date: site.date_format }}</span><br>
  {% endif %}
  {% if site.estimate_reading_time %}
    <span class="post-meta small">
      {% if page.minutes %}
        {{ page.minutes }} {{ site.text.post.minute_read }}
      {% else %}
        {{ minutes }} {{ site.text.post.minute_read }}
      {% endif %}
    </span>
  {% endif %}
</div>

<article class="post-content">

  {% if page.file %}
    <div class="audio-player">
      <audio src="{{ page.file }}?source=webplayer" preload="none" controls="controls" type="audio/mp3">
        Your browser doesn't support the <code>audio</code> element.
      </audio>

      <a href="{{ page.file }}?source=webdownload">Download</a>
    </div>
  {% endif %}

  {{ content }}
</article>

{% if site.show_sharing_icons %}
  {% include share_buttons.html %}
{% endif %}

<div style="text-align: center">
  <img style="height: 80px;" src="/img/talk.svg" />
</div>

{% if page.enable_comments %}
  <h2 class="disqus_header">Comments</h2>
  {% include disqus.html %}
{% else %}
  <h2 class="disqus_header disqus_disabled">Comments are disabled for this episode</h2>
{% endif %}

{% if site.show_post_footers %}
  {% include post_footer.html %}
{% endif %}
